@{
    ViewData["Title"] = "Experiment Page";
}

<div class="text-center">
    <h1 class="display-4">Experiment here.</h1>
    <p>Experiment here.</p>
    <a class="btn btn-danger"
       asp-controller="Experiment" asp-action="Results">Begin experiment</a>
</div>
